body {
  font-family: Arial, Verdana;
}
#wrapper {
  max-width: 60%;
  margin: auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

#headline {
  display: none;
  text-align: center;
}

#publication-date {
  display: none;
  text-align: center;
}

#links {
  display: none;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  margin-bottom: 30px;
}

#links li {
  border-radius: 8px;
  background: #ff5900;
  margin-bottom: 5px;
}

#links a {
  color: white;
  padding: 8px 20px;
  display:block;
  text-decoration: none;
}

#links a:hover {
  border-radius: 8px;
  text-decoration: none;
  color: #ffbd99;
}

#article {
  display: none;
  border-top: solid 1px;
  padding: 10px 10px 10px 10px;
}

img {
  max-width: 50%;
  max-height: 50%;
}

.summary {

}

.info {
  border: solid 1px;
  background-color: white;
  color: black;
  position: absolute;
  display: none;
  padding: 20px;
  max-width: 40%;
}
